<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ScalikeJDBC" %></title>
    <script type="text/javascript" src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
    <div class="container">
    <div class="navbar" role="navigation" id="header">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">ScalikeJDBC</a></li>
            <li><a href="http://typesafe.com/activator/template/scalikejdbc-activator-template">Typesafe Activator</a></li>
            <li><a href="https://groups.google.com/group/scalikejdbc-users-group">Users Group</a></li>
            <li><a href="https://github.com/scalikejdbc/scalikejdbc">GitHub</a></li>
            <li><a href="http://skinny-framework.org/documentation/orm.html">Skinny ORM</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="col-xs-6 pull-right" style="height:50px;">
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
      <div class="col-xs-10 left">
        <div class="content">
          <div class="alert alert-warning small">
            WARNING: This page is a guide for 1.x series.
          </div>
          <%= yield %>
          <hr/>
          <div class="alert alert-warning small">
            If this webpage has a typo or something wrong, Please report or fix it. <%= link_to 'How?', '/contribution.html' %>
          </div>
        </div>
      </div>

      <div class="col-xs-2 right">
        <div class="content small">
          <h5>version 1.x</h5>
          <hr/>
          <p><%= link_to 'Setup',            '/documentation/1.x/setup.html' %></p>
          <p><%= link_to 'Configuration',    '/documentation/1.x/configuration.html' %></p>
          <p><%= link_to 'Connection Pool',  '/documentation/1.x/connection-pool.html' %></p>
          <p><%= link_to 'Operations',       '/documentation/1.x/operations.html' %></p>
          <p><%= link_to 'Transaction',      '/documentation/1.x/transaction.html' %></p>
          <p><%= link_to 'Auto Session',     '/documentation/1.x/auto-session.html' %></p>
          <p><%= link_to 'SQLInterpolation', '/documentation/1.x/sql-interpolation.html' %></p>
          <p><%= link_to 'QueryDSL',         '/documentation/1.x/query-dsl.html' %></p>
          <p><%= link_to 'One-to-x API',     '/documentation/1.x/one-to-x.html' %></p>
          <p><%= link_to 'Query Inspector',  '/documentation/1.x/query-inspector.html' %></p>
          <p><%= link_to 'Reverse Engineering', '/documentation/1.x/reverse-engineering.html' %></p>
          <p><%= link_to 'Testing',          '/documentation/1.x/testing.html' %></p>
          <p><%= link_to 'Play2 Support',    '/documentation/1.x/playframework-support.html' %></p>
          <p><%= link_to 'dbconsole',        '/documentation/1.x/dbconsole.html' %></p>
          <p><%= link_to 'Contribution',     '/documentation/1.x/contribution.html' %></p>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
(function() {
var cx = '000372347144050476309:fnw5lotlq6o';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s);
})();
</script>
  </body>
</html>
