<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ScalikeJDBC" %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
    <div class="container">
    <div class="navbar" role="navigation" id="header">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">ScalikeJDBC</a></li>
            <li><a href="http://www.lightbend.com/activator/template/scalikejdbc-activator-template">Lightbend Activator</a></li>
            <li><a href="https://groups.google.com/group/scalikejdbc-users-group">Users Group</a></li>
            <li><a href="https://github.com/scalikejdbc/scalikejdbc">GitHub</a></li>
            <li><a href="http://skinny-framework.org/documentation/orm.html">Skinny ORM</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="col-xs-6 pull-right" style="height:50px;">
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
      <div class="col-xs-10 left">
        <div class="content">
          <%= yield %>
          <hr/>
          <div class="alert alert-warning small">
            If this webpage has typo or something wrong, Please report or fix. <%= link_to 'How?', '/contribution.html' %>
          </div>
        </div>
      </div>

      <div class="col-xs-2 right">
        <div class="content small">
          <h5>Latest version</h5>
          <hr/>
          <p><%= link_to 'Setup', '/documentation/setup.html' %></p>
          <p><%= link_to 'Configuration', '/documentation/configuration.html' %></p>
          <p><%= link_to 'Connection Pool', '/documentation/connection-pool.html' %></p>
          <p><%= link_to 'Operations', '/documentation/operations.html' %></p>
          <p><%= link_to 'Transaction', '/documentation/transaction.html' %></p>
          <p><%= link_to 'Auto Session', '/documentation/auto-session.html' %></p>
          <p><%= link_to 'SQLInterpolation', '/documentation/sql-interpolation.html' %></p>
          <p><%= link_to 'QueryDSL', '/documentation/query-dsl.html' %></p>
          <p><%= link_to 'One-to-x API', '/documentation/one-to-x.html' %></p>
          <p><%= link_to 'Auto Macros', '/documentation/auto-macros.html' %></p>
          <p><%= link_to 'Query Inspector', '/documentation/query-inspector.html' %></p>
          <p><%= link_to 'Reverse Engineering', '/documentation/reverse-engineering.html' %></p>
          <p><%= link_to 'Testing', '/documentation/testing.html' %></p>
          <p><%= link_to 'Play Support', '/documentation/playframework-support.html' %></p>
          <p><%= link_to 'dbconsole', '/documentation/dbconsole.html' %></p>
          <p><%= link_to 'Core API Doc', 'http://www.javadoc.io/doc/org.scalikejdbc/scalikejdbc-core_2.11/' + version %></p>
          <p><%= link_to 'FAQ', '/documentation/faq.html' %></p>
          <p><%= link_to 'Testimonials', '/documentation/testimonials.html' %></p>
          <p><%= link_to 'Contribution', '/contribution.html' %></p>
          <hr/>
          <h5>Older Versions</h5>
          <hr/>
          <p><%= link_to 'version 1.x', '/documentation/1.x/' %></p>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
(function() {
var cx = '000372347144050476309:fnw5lotlq6o';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s);
})();
</script>
  </body>
</html>
